.App {
  width: 100vw;
  height: 100vh;
}

.copy-btn {
  opacity: 0 !important;
  pointer-events: none;
}

.copyable-text:hover .copy-btn {
  opacity: 0.8 !important;
  pointer-events: auto;
}

.nav-btn {
  opacity: 0.6;
}

.nav-btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .nav-btn {
    display: none !important;
  }
  .minimap {
    display: none !important;
  }
}

